/car_facts.db
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/fastApiProject.iml
/.idea/git_toolbox_prj.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
